<div align="center">
  <div>
    <span class="input-field">
      <span>Title: </span>
        <input type="text" (change)="selectTitle($event)"/>
    </span>

    <span class="input-field">
      <span>Description: </span>
      <input type="text" (change)="selectDescription($event)"/>
    </span>

    <span class="input-field">
      <span>File: </span>
      <input type="file" (change)="selectFile($event)"/>
    </span>

	 <button [disabled]="!file" (click)="submit()">Save</button>
  </div>
</div>
