<div align="center">
  <div>
    <span class="input-field">
      <span>Title: </span>
        <input type="text" [(ngModel)]="title"/>
    </span>

    <span class="input-field">
      <span>Description: </span>
      <input type="text" [(ngModel)]="description"/>
    </span>

    <span class="input-field">
      <span>File: </span>
      <input type="file" (change)="selectFile($event)" [(ngModel)]="fileInput"/>
    </span>

	 <button [disabled]="isDisabled()" (click)="submit()">Save</button>
  </div>
</div>
